.container {
  padding: 0;
  margin: 0;
  background-color: rgb(243, 243, 243);
  font-family: "Montserrat", sans-serif;
}

.container h1 {
  text-align: center;
  text-decoration: underline;
}

.shoe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

.shoe-item {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shoe-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.shoe-item:hover .image-container img {
  transform: scale(1.2) translateY(-10%);
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5em;
}


.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  font-size: 1.5em; /* Adjust font size as needed */
  padding: 15px 30px; /* Adjust padding as needed */
}

.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Adjust opacity here */
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}

.btn-9:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}

.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
