/* shoeform.css */
#shoe-form-container .shoe-form {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  display: flex;
  flex-direction: column; /* Arrange content vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: rgba(88, 199, 250, 0%);
  cursor: pointer;
  font-family: cursive;
}

#shoe-form-container .shoe-form:hover {
  color: rgba(88, 199, 250, 1);
  transition: color 1s;
}

#shoe-form-container .shoe-form::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

#shoe-form-container .shoe-form::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

#shoe-form-container .shoe-form input[type="text"],
#shoe-form-container .shoe-form input[type="number"] {
  width: 80%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  margin-bottom: 10px;
}

#shoe-form-container .shoe-form button {
  width: 80%;
  padding: 10px 20px;
  background-color: #5ddcff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

#shoe-form-container .shoe-form button:hover {
  background-color: #3c67e3;
}

#shoe-form-container .shoe-form .text-danger {
  color: red;
  margin-top: 10px;
}
